<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!--make sure that app has permission to dir-->
    <property name="DEV_HOME" value="/var/logs/velka" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="VELKA" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${DEV_HOME}/velka-app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${DEV_HOME}/archived/app-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="velka" level="debug" additivity="false">
        <appender-ref ref="VELKA" />
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="warn">
        <appender-ref ref="VELKA" />
        <appender-ref ref="STDOUT" />
    </root>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>